// Custom styles.

//页面背景
body {
	//background: #f5f7f9;
    background-image: linear-gradient(to left , #fff1eb 0%, #ace0f9 100%);
}

main {
	flex: 1;
}


//首页文章样式
.home  {
    margin-bottom: 70px;
    padding: 2em 64px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.5);
}


//头像旋转
.ds-top-threads li a:hover {
    border-left: 8px solid #4d768c;
}
//首页头部样式
.header {
	height: 150px;
    background-repeat: no-repeat;
    background-image: linear-gradient(25deg, #14dfe2, #8adbc3, #bbd7a5, #dfd385)

}

.site-meta img {
    max-height: 100px;
    }

//更改display为block，使标题独占居中
.header-inner {
  position: relative;
  display: block;
  width: 100%;
}



.site-meta {
    float: none;
    margin-left: 0px;
    text-align: center;
	padding-bottom: 24px;
}
.menu {
    float: none;
}
.logo-line-before,
.logo-line-after {
    display: none;
}
.menu .menu-item a {
    font-size: 14px;
    color: rgb(15, 46, 65);
    border-radius: 4px;
}

.site-meta .site-title {
    font-size: 40px;
    color: #f37055;
}

// button
.post-button {
    text-align: center;
}

.post-button .btn {
    color: #555 !important;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 15px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    border: none !important;
    transition-property: unset;
    padding: 0px 15px;
}
.post-button .btn:hover {
    color: rgb(255, 255, 255) !important;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(to right, #aa96da, #facad3);
}
.post-meta  {
    text-align: center;
    }



//首页尾部样式
.footer-inner {
    font-family: 'Noto Serif SC';
    font-weight: bold;
    text-align: center;
    color: #4c618f;
}
//侧边栏信息样式修改
.site-author-name {
    margin: 10px 0 0;
    color: #090909;
    font-family: 'Mansalva', sans-serif;
}
.links-of-blogroll {
    font-size: 14px;
    margin-bottom: 42px;
}
.links-of-author {
    margin-top: 30px;
    margin-bottom: 58px;
}
.sidebar-inner {
    color: #649ab6;
	height: auto;
}

.sidebar {
  /* background-size: 240px 499px; */
  background-position-y: 1vh;
  background-color: #f5f7f9;
  box-shadow: inset 2px 2px 40px #bdb2b2;
  background-image: url("https://picsshine.oss-cn-shenzhen.aliyuncs.com/blogpics/夏目2.jpg");
  background-repeat: no-repeat;
  background-position: left;
}

.sidebar a {
    color: #649ab6;
    border-bottom-color: #649ab6;
    border-bottom: none;
}
.sidebar a:hover {
    color: #0c0b0b;
}
.site-state-item {
    display: inline-block;
    padding: 8px 20px;
    border-left: 1px solid #649ab6;
}
.sidebar-nav .sidebar-nav-active {
    color: #649ab6;
    border-bottom-color: #649ab6;
}
.sidebar-nav li:hover {
    color: #0c0b0b;
}
//侧栏按钮样式
.sidebar-toggle {
    background: #649ab6;
}
.back-to-top {
    background: #649ab6;
}
// Custom styles.
// 字体
.post-body {
    color: #000;
}


// 自定义的引用样式
blockquote.question {
    color: #555;
    border-left: 4px solid rgb(16, 152, 173);
    background-color: rgb(227, 242, 253);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 20px;
}
// 自定义的数字块
span#inline-toc {
    display: inline-block;
    border-radius: 80% 100% 90% 20%;
    background-color: rgb(227, 242, 253);
    color: #555;
    padding: 0.05em 0.4em;
    margin: 2px 5px 2px 0px;
    line-height: 1.5;
}
//自定义note标识
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info {
    color: #3a87ad;
    background-color: #e2eaee;
    border-color: #c5d5dd;
}
.alert-warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #ebccd1;
}
//自定义文字背景色块
span#inline-blue, span#inline-green, span#inline-purple, span#inline-yellow {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    vertical-align: baseline;
    border-radius: 0;
    white-space: nowrap;
}
span#inline-blue {
    background-color: #2780e3;
}
span#inline-purple {
    background-color: #9954bb;
}
span#inline-yellow {
    background-color: #f0ad4e;
}
span#inline-green {
    background-color: #5cb85c;
}
// 自定义引用边框
// 左侧
p#div-border-left-red, p#div-border-left-yellow, p#div-border-left-green, p#div-border-left-blue, p#div-border-left-purple{
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
p#div-border-left-red {
    border-left-width: 5px;
    border-left-color: #df3e3e;
}
p#div-border-left-yellow {
    border-left-width: 5px;
    border-left-color: #f0ad4e;
}
p#div-border-left-green {
    border-left-width: 5px;
    border-left-color: #5cb85c;
}
p#div-border-left-blue {
    border-left-width: 5px;
    border-left-color: #2780e3;
}
p#div-border-left-purple {
    border-left-width: 5px;
    border-left-color: #9954bb;
}
// 右侧
p#div-border-right-red, p#div-border-right-yellow, p#div-border-right-green, p#div-border-right-blue, p#div-border-right-purple{
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
p#div-border-right-red {
    border-right-width: 5px;
    border-right-color: #df3e3e;
}
p#div-border-right-yellow {
    border-right-width: 5px;
    border-right-color: #f0ad4e;
}
p#div-border-right-green {
    border-right-width: 5px;
    border-right-color: #5cb85c;
}
p#div-border-right-blue {
    border-right-width: 5px;
    border-right-color: #2780e3;
}
p#div-border-right-purple {
    border-right-width: 5px;
    border-right-color: #9954bb;
}
// 顶部
p#div-border-top-red, p#div-border-top-yellow, p#div-border-top-green, p#div-border-top-blue, p#div-border-top-purple {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
p#div-border-top-red {
    border-top-width: 5px;
    border-top-color: #df3e3e;
}
p#div-border-top-yellow {
    border-top-width: 5px;
    border-top-color: #f0ad4e;
}
p#div-border-top-green {
    border-top-width: 5px;
    border-top-color: #5cb85c;
}
p#div-border-top-blue {
    border-top-width: 5px;
    border-top-color: #2780e3;
}
p#div-border-top-purple {
    border-top-width: 5px;
    border-top-color: #9954bb;
}
// 底部
p#div-border-bottom-red, p#div-border-bottom-yellow, p#div-border-bottom-green, p#div-border-bottom-blue, p#div-border-bottom-purple {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
p#div-border-bottom-red {
    border-bottom-width: 5px;
    border-bottom-color: #df3e3e;
}
p#div-border-bottom-yellow {
    border-bottom-width: 5px;
    border-bottom-color: #f0ad4e;
}
p#div-border-bottom-green {
    border-bottom-width: 5px;
    border-bottom-color: #5cb85c;
}
p#div-border-bottom-blue {
    border-bottom-width: 5px;
    border-bottom-color: #2780e3;
}
p#div-border-bottom-purple {
    border-bottom-width: 5px;
    border-bottom-color: #9954bb;
}
// 图片文字注释
.post-body .image-caption, .post-body .figure .caption {
    font-size: 14px;
    font-weight: 400;
	margin: -15px auto 15px;
}

// 右下角返回顶部按钮样式
.back-to-top {
    line-height: 1.5;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: rgba(161, 102, 171, 0.75);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}
.back-to-top.back-to-top-on {
    bottom: 10px;
}
// 页面最顶部的横线
.headband {
    height: 1.5px;
    background-image: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);
}
// 页面顶部行高
.header {
    line-height: 1.5;
}

// 页面留白更改
.header-inner {
    padding-top: 20px;
    padding-bottom: 20px;
}
.posts-expand {
    padding-top: 80px;
}
.posts-expand .post-meta {
    margin: 5px 0px 0px 0px;
}

// 顶栏宽度

.container {
	display: flex;
	min-height: 100vh;
	flex-flow: column;
}


// 站点子标题
.site-subtitle{
    margin: 0px;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 3px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(161, 102, 171);
}
// 菜单
.menu {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
}
// 菜单超链接字体大小
.menu .menu-item a {
    font-size: 15px;
	border-bottom: none;
}
// 菜单各项边距
.menu .menu-item {
    margin: 5px 15px;
}
// 菜单超链接样式
.menu .menu-item a:hover {
    color: rgb(161, 102, 171);
    border-bottom: none;
}
//文章样式
.post {
    margin-bottom: 70px;
    padding: 2em 64px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    background-color: #fff;
}
// 文章标题字体
.posts-expand .post-title {
    //font-size: 26px;
	color: #000;
    font-weight: 700;
	margin: 20px 0 15px;
    text-align: center;
}
// 文章标题动态效果
.posts-expand .post-title-link::before {
    background-image: linear-gradient(90deg, #A166AB 0%, #A166AB 25%, #A166AB 50%, #A166AB 75%, #A166AB 100%);
}
// 文章元数据（meta）留白更改
.posts-expand .post-meta {
    margin: 10px 0px 20px 0px;
	line-height: 24px;
}
// 文章的描述description
.posts-expand .post-meta .post-description {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #666;
	border: 0px solid #666;
    padding: 0 0 20px 0;
    border-bottom-width: 1px;
}
// 去除在页面文章之间的分割线
.posts-expand .post-eof {
    margin: 0px;
    background-color: rgba(255, 255, 255, 0);
}
.pagination {
    border: none;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
}
// 页面底部页码
.pagination .page-number.current {
    color: #222;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.35);
}
.pagination .prev, .pagination .next, .pagination .page-number {
    margin-bottom: 10px;
    border: none;
}
.pagination .space {
    color: #222;
}
// 页面底部页脚
.footer {
    line-height: 1.5;
    background-color: rgba(255, 255, 255, 0.75);
    color: #333;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: rgb(161, 102, 171);
    box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.15);
	font-size: 16px;
}
// 文章底部的tags
.posts-expand .post-tags a {
    border-bottom: none;
    margin-right: 0px;
    font-size: 13px;
    padding: 0px 5px;
    border-radius: 3px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.posts-expand .post-tags a:hover {
    background: #eee;
}
// 文章底部留白更改
.post-widgets {
    padding-top: 0px;
}
.post-nav {
    margin-top: 30px;
}
// 文章底部页面跳转
.post-nav-item a {
    color: rgb(80, 115, 184);
    font-weight: bold;
}
.post-nav-item a:hover {
    color: rgb(161, 102, 171);
    font-weight: bold;
}
// 超链接样式
.post-body a {
    color: rgb(80, 115, 184);
    border-bottom: none;
    &:hover {
      color: rgb(161, 102, 171);
      text-decoration: underline;
    }
}
.posts-expand .post-meta a, .post-copyright a {
    color: rgb(80, 115, 184);
    border-bottom: none;
    &:hover {
      color: rgb(161, 102, 171);
      text-decoration: underline;
    }
}
a {
    color: rgb(80, 115, 184);
    border-bottom-color: rgb(80, 115, 184);
}
a:hover {
    color: rgb(161, 102, 171);
    border-bottom-color: rgb(161, 102, 171);
}
//修复下载按钮超链接样式



// 分割线样式
hr {
    margin: 10px 0px 30px 0px;
}
// 文章内标题样式（左边的竖线）
.post-body h2, h3, h4, h5, h6 {
    border-left: 4px solid rgb(161, 102, 171);
    margin-left: -64px;
    padding-left: 60px;
}
// 文章内标题大小（v7.2.0后的版本字体偏大）
h2 {
    font-size: 24px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
// 文章```代码块顶部样式（night主题）
.highlight figcaption {
    background: #1d1f21;
    border-bottom: 1px solid #1d1f21;
	font-family: consolas, EB Garamond, Noto Serif SC, sans-serif;
	font-size: 14px;
}

// 文章``代码块的自定义样式
code {
    //color: #c7254e;
    //background: #f9f2f4;
	margin: 0px 4px;
    //border: 1px solid #d6d6d6;
	//font-size: 14px;
}
// 文章```代码块复制mac样式
.highlight-wrap {
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.4);
}
// 文章```代码块diff样式
pre .addition {
    background: none;
	//color: #00aa00;
	color: #a6e22e;
}
pre .deletion {
    background: none;
	//color: #aa0000;
    color: #f92672;
}
// 时间轴样式
.posts-collapse {
    margin: 80px 0 70px 0;
	background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	padding: 2em 4em;
}
.posts-collapse .post {
	padding: 0px;
	box-shadow: none;
}
//加油词
.page-archive .posts-collapse .archive-page-counter {
    left: 0px;
}
//时间轴第一个圆点
.page-archive .posts-collapse .archive-move-on{
    opacity: 0;
}
//时间轴年份
.posts-collapse .collection-title h1, .posts-collapse .collection-title h2 {
    margin-left: 0;
}
.posts-collapse .collection-title::before {
    margin: 10px 0 30px 0;
    content: none;
}
//时间轴年份圆点
.posts-collapse .collection-year::before {
    content: none;
    }

//时间轴写作时间
.posts-collapse .post-meta {
    font-size: 1.125em;
	left: unset;
    right: 0px;
    position: absolute;
    top: 0px;
}
//时间轴色带
.posts-collapse::after{
    content: none;
}
// 时间轴文章标题左边圆点颜色
.posts-collapse .post-header:hover::before {
    background-color: rgb(161, 102, 171);
}
// 时间轴文章标题
.posts-collapse .post-title a {
    color: rgb(80, 115, 184);
	font-size: 1.2em;
	position: relative;
    left: -30px;
}
.posts-collapse .post-title a:hover {
    color: rgb(161, 102, 171);
}
// 时间轴文章标题底部虚线
.posts-collapse .post-header:hover {
    border-bottom-color: rgb(161, 102, 171);
}

// 白色背景
.post-block.page {
    margin: 0px 0px 75px 0px;
    background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	padding: 2em 64px;
}
// 移动端样式

@media (max-width: 767px) {
    .header-inner {
        padding-left: 0;
        padding-bottom: 0px;
        padding-right: 0;
        padding-top: 0px;
    }

    .container .main-inner {
        margin-top: 30px;
    }

	.posts-collapse {
	    .post-title a {
		    font-size: 1em;
		}
		.post-meta {
		    font-size: 0.875em;
		}
		.post {
			padding: 0 !important;
		}
		padding: 2em 15px 1em 15px;
		margin: 70px 0 70px 0;
	}
	.post-block.page {
        padding: 32px 15px 32px 15px !important;
    }
	.post-body h2, h3, h4, h5, h6 {
        margin-left: -15px;
		padding-left: 15px;
    }
    .posts-expand {
        margin: 0px;
        padding-top: 70px;
    }
    .posts-expand .post-title {
        font-size: 22px;
    }
    .posts-expand .post-meta {
        font-size: 12px;
    }
    .post {
        margin-bottom: 55px !important;
        padding: 32px 15px 32px 15px !important;
    }
    .posts-expand .post-tags {
        margin-top: 10px;
    }
    .post-widgets {
        margin-top: 10px;
    }
    .comments {
        //margin: 40px 0px 40px 0px !important;
    }
	.pagination {
        margin-bottom: 15px;
		margin-top: -30px;
    }
    .footer {
        box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    }
}

.posts-expand .home .post-title, .posts-expand .home .post-meta {
    text-align: center;
    }
// 移动端侧栏动态
@media (max-width: 767px){
    .sidebar-active + #sidebar-dimmer {
        opacity: 0;
    }
}

// 移动端左上角菜单按钮
.site-nav-toggle {
    top: 35px;
    left: 10px;
    position: absolute;
}
.btn-bar {
    background-color: rgb(255, 255, 255);
}
@media (max-width: 767px) {
    .menu {
        text-align: center;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
    .site-nav {
        top: initial;
        background-color: rgba(255, 255, 255, 0.75);
        border-top: none;
        border-bottom: none;
        position: relative;
        z-index: 1024;
        transform: none;
    }
}
// 移动端顶部
@media (max-width: 767px) {
    .site-title {
        font-size: 35px !important;
        letter-spacing: 0px !important;
    }
    .site-subtitle{
        letter-spacing: 0px !important;
        padding-bottom: 0px !important;
    }

    .menu .menu-item {
        margin: 0px 10px !important;
    }
}

.site-brand-container {
    position: relative;

}


.symbolic-animals {
  display: inline-block;
  font: normal normal normal 14px/1 chinese-zodiac;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dragon:before { content: '\e806'; font-size: 35px;}
.icon-tiger:before { content: '\e809'; font-size: 35px;}
.icon-pig:before { content: '\e810'; font-size: 35px;}
.icon-horse:before { content: '\e813'; font-size: 35px;}
.icon-rat:before { content: '\e816'; font-size: 35px;}
.icon-goat:before { content: '\e818'; font-size: 35px;}
.icon-snake:before { content: '\e820'; font-size: 35px;}
.icon-ox:before { content: '\e822'; font-size: 35px;}
.icon-dog:before { content: '\e825'; font-size: 35px;}
.icon-rabbit:before { content: '\e826'; font-size: 35px;}
.icon-monkey:before { content: '\e829'; font-size: 35px;}
.icon-rooster:before { content: '\e82f'; font-size: 35px;}


// 设置滚动条的样式
// 参考https://segmentfault.com/a/1190000003708894
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
// 滚动槽
::-webkit-scrollbar-track {
    background: #eee;
}
// 滚动条滑块
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(161, 102, 171);
}
// 自定义的网站运营时间样式
#days {
    display: block;
    color: rgb(161, 102, 171);
    font-size: 16px;
    margin-top: 15px;
}
// 版权声明
.post-copyright {
    border: 1px dashed #fc6423;
	font-size: 14px;
}


// 侧栏头像
.site-author-image {
    border: 2px solid #a166ab;
}

// 侧栏站点作者名
.site-author-name {
    font-size: 18px;
}
// 侧栏站点描述
.site-description {
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-top: -2px;
    color: rgb(243, 112, 85);
}
// 侧栏站点文章、分类、标签
.site-state {
    line-height: 1.3;
}
.site-state-item {
    padding: 0px 15px;
    border-left: 1.5px solid rgb(161, 102, 171);
}
// 侧栏RSS按钮样式
.feed-link {
    margin-top: 15px;
}
.feed-link a {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(158, 158, 158) !important;
    border-radius: 15px;
}
.feed-link a:hover {
    background-color: rgb(161, 102, 171);
}
.feed-link a i {
    color: rgb(255, 255, 255);
}
// 侧栏社交链接
.links-of-author {
    margin-top: 8px;
}
// 侧栏友链标题
.links-of-blogroll-title {
    margin-bottom: 10px;
    margin-top: 15px;
    color: rgba(7, 179, 155, 0.75);
    margin-left: 6px;
    font-size: 15px;
    font-weight: bold;
}

.sidebar a:hover {
    color: rgb(0,0, 0);
}
// 侧栏目录链接样式
.post-toc ol a {
    color: rgb(7, 179, 155);
    border-bottom: 1px solid rgb(96, 125, 139);
}
.post-toc ol a:hover {
    color: rgb(161, 102, 171);
    border-bottom-color: rgb(161, 102, 171);
}
// 侧栏目录链接样式之当前目录
.post-toc .nav .active > a {
    color: rgb(161, 102, 171);
    border-bottom-color: rgb(161, 102, 171);
}
.post-toc .nav .active > a:hover {
    color: rgb(161, 102, 171);
    border-bottom-color: rgb(161, 102, 171);
}
// 文章底部评论
.comments {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    margin: 40px 0px 75px 0px;
	padding: 15px;
}
#veditor {
    background-image: url(/images/comment-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(255,255,255,0);
    resize: vertical;
}
// 无序列表小黑点改成小圆圈
.posts-expand .post-body ul li {
    list-style: circle;
}
// 脚注大小
ol.footnotes-list {
    font-size: 14px;
}
ol.footnotes-list p {
    margin: 0;
}
hr.footnotes-sep{
    margin: 50px 0 30px 0;
    height: 1px;
    border: none;
	background-image: none;
    background-color: #666;
}
// 本地搜索BUG修复（v7.2.0之后的问题）
.local-search-pop-overlay {
    position: unset;
}
// 本地搜索框
.local-search-popup .search-icon, .local-search-popup .popup-btn-close {
    color: rgb(161,102,171);
}
.local-search-popup {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
// 锚点样式
.heading-anchor {
    text-decoration: none!important;
	color: #999 !important;
}
.heading-anchor:hover {
    text-decoration: none!important;
	color: #000 !important;
}
// 文章信息统计样式（方便主题更新，暂时不在源码处更改）
.post-meta .post-meta-item + .post-meta-item::before {
    content: '•';
}
.fa-folder-o:before {
    content: "\f00a"!important;
}
.fa-comment-o:before {
    content: "\f086"!important;
}

/* 有序图标设置 */
ol{
    margin-top: .4rem;
    padding: 0 0 0 .8rem;
    list-style: none;
    counter-reset: ol-li;

}
/*标签前置设置*/
.posts-expand .post-body ol li:before{
    display: block;
    float: left;
    width: 19px;
    height: 19px;
    line-height: 18px;
    margin: 0.4rem 12px 0 0;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    background-color: #a166ab;
    border-radius: 50%;
    text-align: center;
    content: counter(ol-li);
    counter-increment: ol-li;
}

// 十二生肖 - 标签
.chinese-zodiac {
    float: right;
}
@font-face {
  font-family: 'chinese-zodiac';
  font-display: swap;
  src: url('/fonts/chinese-zodiac.eot');
  src: url('/fonts/chinese-zodiac.eot') format('embedded-opentype'),
       url('/fonts/chinese-zodiac.woff2') format('woff2'),
       url('/fonts/chinese-zodiac.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.symbolic-animals {
  display: inline-block;
  font: normal normal normal 14px/1 chinese-zodiac;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dragon:before { content: '\e806'; }
.icon-tiger:before { content: '\e809'; }
.icon-pig:before { content: '\e810'; }
.icon-horse:before { content: '\e813'; }
.icon-rat:before { content: '\e816'; }
.icon-goat:before { content: '\e818'; }
.icon-snake:before { content: '\e820'; }
.icon-ox:before { content: '\e822'; }
.icon-dog:before { content: '\e825'; }
.icon-rabbit:before { content: '\e826'; }
.icon-monkey:before { content: '\e829'; }
.icon-rooster:before { content: '\e82f'; }


// 移动端样式
@media (max-width: 767px) {
	.posts-collapse {
	    .post-title a {
		    font-size: 1em;
		}
		.post-meta {
		    font-size: 0.875em;
		}
		.post {
			padding: 0 !important;
		}
		padding: 2em 15px 1em 15px;
		margin: 70px 0 70px 0;
	}
	.post-block.page {
        padding: 32px 15px 32px 15px !important;
    }
	.post-body h2, h3, h4, h5, h6 {
        margin-left: -15px;
		padding-left: 15px;
    }
    .posts-expand {
        margin: 0px;
        padding-top: 70px;
    }
    .posts-expand .post-title {
        font-size: 22px;
    }
    .posts-expand .post-meta {
        font-size: 12px;
    }
    .post {
        margin-bottom: 55px !important;
        padding: 32px 15px 32px 15px !important;
    }
    .posts-expand .post-tags {
        margin-top: 10px;
    }
    .post-widgets {
        margin-top: 10px;
    }
    .comments {
        //margin: 40px 0px 40px 0px !important;
    }
	.pagination {
        margin-bottom: 15px;
		margin-top: -30px;
    }
    .footer {
        box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    }
}
.sidebar-active #sidebar-dimmer {
    opacity: 0;
}
// 移动端侧栏动态
@media (max-width: 767px){
    .sidebar-active + #sidebar-dimmer {
        opacity: 0;
    }
}

// 移动端左上角菜单按钮
.site-nav-toggle {
    top: 35px;
    left: 10px;
}
.btn-bar {
    background-color: rgb(255, 255, 255);
}
@media (max-width: 767px) {
    .menu {
        text-align: center;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
    .site-nav {
        top: initial;
        background-color: rgba(255, 255, 255, 0.75);
        border-top: none;
        border-bottom: none;
        position: relative;
        z-index: 1024;
    }
}
// 移动端顶部
@media (max-width: 767px) {
    .site-title {
        font-size: 35px !important;
        letter-spacing: 0px !important;
        padding-top: 20px;
    }
    .site-subtitle{
        letter-spacing: 0px !important;
        padding-bottom: 0px !important;
    }

    .menu .menu-item {
        margin: 0px 10px !important;
    }

    .header {
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        }
}

@media (min-width: 1200px) {
    .container .header-inner {
        width: 100%;
    }
    }
